* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

input, select, button {
  outline: none;
}

.notifications {
  position: fixed;
  top: 5px !important;
  z-index: 999;
}

.vue-notification {
  padding: 10px;
  margin: 0 5px 5px;
  font-size: 16px;
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
  border-radius: 3px;
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.15);
  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.theme {
  &--light {
    .border {
      border: 1px solid #000000de;
    }
    .border-color {
      border: 1px solid #000000de;
    }
    .cyl {
      &__side {
        &--title {
          background: #2096f3;
          color: #fff;
        }
        &--matrix {
          &--cell {
            background: #2096f3;
            color: #fff;
          }
        }
      }
    }
    .sph {
      &__title {
        background: #2096f3;
        color: #fff;
      }
      &__column {
        &--item {
          background: #2096f3;
          color: #fff;
        }
      }
    }
    .base {
      &__title {
        background: #2096f3;
        color: #fff;
      }
    }
  }
  &--dark {
    .border {
      border: 1px solid #fff;
    }
    .border-color {
      border-color: #fff;
    }
    .accent--text {
      color: #fff !important;
    }
    .cyl {
      &__side {
        &--title {
          background: #fc8b01;
          color: #000000de;
        }
        &--matrix {
          &--cell {
            background: #fc8b01;
            color: #000000de;
          }
        }
      }
    }
    .sph {
      &__title {
        background: #fc8b01;
        color: #000000de;
      }
      &__column {
        &--item {
          background: #fc8b01;
          color: #000000de;
        }
      }
    }
    .base {
      &__title {
        background: #fc8b01;
        color: #000000de;
      }
    }
  }
}
